{% macro loginPrompt() %}
	{% from "_macros/utils.html.twig" import button, link, textInput %}

	<div class="loginPrompt">
		{% if user %}
            {{ link("Se déconnecter", { href: "/logout" }) }}
		{% else %}
			<h2>Connexion</h2>

			<form action="/login?from={{ requestUri }}" method="POST">
				<div>
					{{ textInput({ name: "pseudo", placeholder: "Nom d'utilisateur" }) }}
				</div>
				<div>
					{{ button("Connexion", { submit: true }) }}
				</div>
			</form>
			{{ link("Je n'ai pas de compte.", { href: "/register" }) }}
		{% endif %}

	</div>
{% endmacro %}
