{% macro pageSwitcher(currentPage, pagesCount, pagesOffset = 2) %}
	{% set clickablePages = range(currentPage - pagesOffset, currentPage + pagesOffset) %}
	{% set haveBeforeOffset = clickablePages[0] > 2 %}
	{% set haveAfterOffset = clickablePages[(clickablePages|length) - 1] < pagesCount - 1 %}

	<div class="pageSwitcherContainer">
		<div class="pageSwitcher">
			{% if currentPage > 1 %}
				<a href="/products?page={{ currentPage - 1 }}">Prec.</a>
			{% endif %}

			{% if haveBeforeOffset %}
				<a href="/products?page=1">1</a>
				<div>
					<p>---</p>
				</div>
			{% endif %}

			{% for page in clickablePages %}
				{% if page > 0 and page <= pagesCount %}
					{% if page == currentPage %}
						<div class="selected">
							<p>{{ currentPage }}</p>
						</div>
					{% else %}
						<a href="/products?page={{ page }}">{{ page }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}

			{% if haveAfterOffset %}
				<div>
					<p>---</p>
				</div>
				<a href="/products?page={{ pagesCount }}">{{ pagesCount }}</a>
			{% endif %}

			{% if currentPage < pagesCount %}
				<a href="/products?page={{ pagesCount }}">Suiv.</a>
			{% endif %}
		</div>
	</div>
{% endmacro %}
