{% macro productCardContainer(products) %}
	<div class="productCardContainer">
		{% for product in products %}
			{{ _self.productCard(product) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro productCard(product) %}
	{% from "_macros/ratingStars.html.twig" import ratingStars %}

	<a href="/product?id={{id}}" class="productCard">
		<div class="image" style="background-image: url({{product.photo}});"></div>
		<div class="content">
			<div>
				<div>
					<p>Vendu par</p>
					<div class="seller">
						<div class="avatar" style="background-image: url({{product.user_photo}});"></div>
						<p>
							{{ product.user_pseudo }}
						</p>
					</div>
				</div>
				<div>{{ ratingStars(product.user_rating) }}</div>
			</div>
			<div>
				<h2>{{ product.title }}</h2>
				<p>{{ product.price ~ " €" }}</p>
			</div>
		</div>
	</a>
{% endmacro %}
