{% macro productCardContainer(products) %}
	<div class="productCardContainer">
		{% for product in products %}
			{{ _self.productCard(product.id, product.title, product.photo, product.price, product.user_pseudo, product.user_rating) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro productCard(id, title, photo, price, userName, userRating) %}
	{% from "_macros/ratingStars.html.twig" import ratingStars %}

	<a href="/product?id={{id}}" class="productCard">
		<div class="image" style="background-image: url({{photo}});"></div>
		<div class="content">
			<div>
				<div>
					<p>Vendu par</p>
					<p>
						{{ userName }}
					</p>
				</div>
				<div>
					{{ ratingStars(userRating) }}
				</div>
			</div>

			<div>
				<h2>{{ title }}</h2>
				<p>
					{{ price ~ " €" }}
				</p>
			</div>
		</div>
	</a>
{% endmacro %}
