{% extends 'layout.html.twig' %}

{% from "_macros/productCard.html.twig" import productCard %}


{% block content %}
	<main class="home">
		<section class="carouselContainer">
			{% if user is null %}
				<a href="/signup" class="btn btn-primary-banner">
					Créer un compte
				</a>
			{% endif %}
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
				<ul class="carousel-indicators">
					<li>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					</li>
					<li>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					</li>
					<li>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</li>
					<li>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
					</li>
				</ul>
				<ul class="carousel-inner">
					<li class="carousel-item active w-100">
						<img src={{categories[0]['photo']}} class="d-block w-100 img-home" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h2>{{categories[0]['title']}}</h2>
							<p>{{categories[0]['description']}}</p>
						</div>
					</li>
					<li class="carousel-item">
						<img src={{categories[1]['photo']}} class="d-block w-100 img-home" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h2>{{categories[1]['title']}}</h2>
							<p>{{categories[1]['description']}}</p>
						</div>
					</li>
					<li class="carousel-item">
						<img src={{categories[2]['photo']}} class="d-block w-100 img-home" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h2>{{categories[2]['title']}}</h2>
							<p>{{categories[2]['description']}}</p>
						</div>
					</li>
					<li class="carousel-item">
						<img src={{categories[3]['photo']}} class="d-block w-100 img-home" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h2>{{categories[3]['title']}}</h2>
							<p>{{categories[3]['description']}}</p>
						</div>
					</li>
				</ul>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<div class="carousel-control-prev-icon" aria-hidden="true"></div>
					<div class="visually-hidden">Previous</div>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<div class="carousel-control-next-icon" aria-hidden="true"></div>
					<div class="visually-hidden">Next</div>
				</button>
			</div>
			{% if user and user.is_admin %}
				<a href="/categories_items" class="btn-primary-categorie">
					Modifiez vos catégories
				</a>
			{% endif %}
		</section>

		<article>
			<h1 class="text-center">Les Derniers Articles Ajoutés</h1>
			<div class="productsHome">
				{% if not (products is empty) %}
					<div class="products">
						{% for product in products %}
							{{ productCard(product) }}
						{% endfor %}
					</div>
				{% else %}
					<li>Il n'y a rien a afficher ou la connection à votre Base de donnée à échouée</li>
				{% endif %}
			</div>


		</article>
	</main>
{% endblock %}
