{% extends 'layout.html.twig' %}
{% from "_macros/ratingStars.html.twig" import ratingStars %}

{% block stylesheet %}
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/show.css">
{% endblock %}

{% block content %}
<article class="productBigCarousel">
    <ul class="productBigImages" id="productBigImgs">
        {% for photo in product.photo %}
            <li class="bigPhoto" style="background-image:url({{photo}});"></li>
        {% endfor %}
    </ul>
    <button id="bigRight" class="productBigBtn">></button>
    <button id="bigLeft" class="productBigBtn"><</button>
    <button id="quitFullscreen">x</button>
</article>
<section id="productPage">
        <article class="productCarousel">
            <ul class="productImages" id="productImgs">
                {% for photo in product.photo %}
                    <li class="photo" style="background-image:url({{photo}});"></li>
                {% endfor %}
            </ul>
                <button id="right" class="productBtn">></button>
                <button id="left" class="productBtn"><</button>
        </article>

        <article class="productInfo">
                <h1>{{product.title}}</h1>
                <ul>
                    <li class="productColor">
                        <p class="ImportanText">Couleur: </p>
                        {% for color in product.color %}
                            <div class="pastilleColor" style="background-color:{{color}};"></div>
                        {% endfor %}
                    </li>
                    <li class="productMatter">
                        <p class="ImportanText">Matière: </p>
                        <div class="productIcons">
                        {% for material in product.material %}
                            <div class="productIconsChild">
                                <img src="assets/images/deco2.png" alt="matter icon">
                                <p>{{material}}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </li>
                    <li class="productState">
                        <p class="ImportanText">État: </p>
                        <p>{{product.condition}}</p>
                    </li>
                    <li class="productDescription">
                        <p class="ImportanText">Description: </p>
                        <p>{{product.description}}</p>
                    </li>
                    <li class="productPrice">
                        <p class="ImportanText">Prix: </p>
                        <p>{{product.price}} €</p>
                    </li>
                </ul>
        </article>

        <article class="productInfo2">
            <ul>
                <li class="productType">
                    <p class="ImportanText">Type: </p>
                    <div class="productIcons">
                        <div class="productIconsChild">
                            <img src="{{product.logo}}" alt="type icon">
                            <p>{{product.categoryTitle}}</p>
                        </div>
                    </div>
                </li>
                <li class="productRoom">
                    <p class="ImportanText">Pièce: </p>
                    <div class="productIcons">
                        {% for category in product.category_room %}
                        <!-- Add the correct src when the database has been changed -->
                        <div class="productIconsChild">
                            <img src="assets/images/luminaire2.png" alt="room icon">
                            <p>{{category}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </article>

        <article class="productAddToCart">
                <button class="productAddButton">Ajouter au panier</button>
        </article>

        <article class="productSeller">
        <!-- Add if conditions to display infos when the database has been changed -->
            <div class="productSellerPseudo">
                <p class="ImportanText">Vendu par: </p>
                <p>{{product.pseudo}}</p>
            </div>
            <div class="productSellerAdress">
                <p class="ImportanText">Habite: </p>
                <p>{{product.adress}}</p>
            </div>
            <div class="productSellerContact">
                <p class="ImportanText">Contact: </p>
                <div>
                    <p>{{product.email}}</p>
                    <p>{{product.phone_number}}</p>
                </div>
            </div>
            <div class="productSellerRating">
                <p class="ImportanText">Note: </p>
                {{ratingStars(product.rating)}}
            </div>
        </article>

        <article class="productMap">
                <img src="https://www.adslzone.net/app/uploads-adslzone.net/2017/06/google-maps.jpg" alt="map">
        </article>
    </section>

{% endblock %}

{% block javascript %}
    <script src="assets/js/show.js"></script>
{% endblock %}
